@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$backgroundMain: #1B2A37;
$title: #c7dbeb;
$backgroundbutton: rgb(18, 172, 199);
$backgroundbuttonHover: rgb(13, 149, 173);
$fontFamily: 'Roboto', sans-serif;