body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(216, 81, 81, 0.884);
}
#mainContainer{
    background-color: rgb(216,149,81);
    border-radius: 15%;
    position: relative;
    margin: auto;
    width: 80vh;
    height: 80vh;
}
header h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
}
header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
}
#radioDiv{
    text-align: center;
}
#radioDiv input{
    margin-left: 15px;
    margin-top: 20px;
}
#textareaDiv{
    text-align: center;
    margin-top: 15%;
}
textarea{
    border-radius: 2%;
    margin-top: 10px;
    height: 300px;
    width: 80%;
}
#submitDiv{
    text-align: center;
}
#submitDiv input{
    height: 35px;
    width: 80px;
    border-radius: 15%;
}

#submitDiv input:active{
    box-shadow: 1px 3px rgb(201,45,45)
}